---
layout: page
permalink: '/tutorials'
title: ""
pagination:
  enabled: true
  collection: tutorials
  per_page: 10000
  permalink: '/:num/'
  title: ':title'
  sort_field: order
---

<div class="tutorials-list">
  <h2>{{ site.data.tutorials.misc.overview.title }}</h2>
  <p>
    {{ site.data.tutorials.misc.overview.summary }}
  </p>
  {% for tutorial in paginator.posts %}
    <section>
      <h3>
        {% if tutorial.paginator_title %}
          {{ tutorial.paginator_title }}
        {% else %}
          {{ tutorial.title }}
        {% endif %}
      </h3>
      <p>
        {% if tutorial.paginator_summary %}
          {{ tutorial.paginator_summary }}
        {% else %}
          {{ tutorial.excerpt | strip_html }}
        {% endif %}
      </p>
      <p class="link">
        <a href="{{ tutorial.url | prepend: site.baseurl }}">
          {% assign fmt_number = '{{ number }}' %}
          {% assign fmt_title = '{{ title }}' %}
          {{ site.data.tutorials.misc.overview.tutorial_x_title | replace: fmt_number, forloop.index | replace: fmt_title, tutorial.title }}
        </a>
      </p>
    </section>
  {% endfor %}
</div>

<!-- For now don't paginate, just leave all tutorials on this page.
     If it becomes a problem with too many tutorials in the future then
     it can be changed in the future -->
