---
layout: default
---
<article class="page">
  {% if page.title != "" %}
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
  </header>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
